In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import csv
from IPython.display import display, HTML
from matplotlib import pyplot as plt
%pylab inline
import string
import re
pd.options.display.float_format = '${:10,.0f}'.format

Populating the interactive namespace from numpy and matplotlib

In [3]:
engine_url = 'mysql://root:Jey03$78@localhost/mysourcedata?charset=utf8'
engine = create_engine(engine_url, pool_size=100, pool_recycle=3600, echo_pool=True)
conn = engine.connect()
#query = 'SELECT * FROM ent_dump_from_finance WHERE LEFT(fiscal_quarter_id, 4)=2016 and sales_level_3="INDIA_COMM_1"'
query = 'SELECT * FROM ent_dump_from_finance WHERE LEFT(fiscal_quarter_id, 4)=2016 and booking_net <>0 and sales_level_4="INDIA_COMM_EU3_NE_SAARC"'
df = pd.read_sql(query, con=conn)
conn.close()
engine_url = None
engine = None

In [4]:
df.rename(columns=string.lower, inplace=True)
cols_not_needed = ['tms_sales_allocated_bookings_standard_cost','standard_cost','prod_ser','corp_arch', 'coll', 'dc', 'bn', 'ipngn', 'small', 'mobility_net', 'vch_net','others','vertical','tms_sales_allocated_bookings_base_list']
#cols_not_needed = ['standard_cost','prod_ser','corp_arch', 'coll', 'dc', 'bn', 'ipngn', 'small', 'mobility_net', 'vch_net','others','vertical']
df.drop(cols_not_needed, axis=1, inplace=True)
#df.rename(columns={'tms_sales_allocated_bookings_standard_cost': 'standard_cost', 'tms_sales_allocated_bookings_quantity': 'bookings_qty', 'tms_sales_allocated_bookings_base_list': 'base_list'}, inplace=True)
#df.drop('standard_cost', axis=1, inplace=True)
#df.columns

In [5]:
df_tech_mapping = pd.read_excel('../tech_mapping.xlsx')

In [6]:
df_tech_mapping.rename(columns=string.lower, inplace=True)
df_tech_mapping.rename(columns={'technology': 'tech_name', 'architecture_l1': 'arch1', 'architecture_l1_sub_group': 'arch2'}, inplace=True)
df_tech_mapping.columns

Index([u'internal_sub_business_entity_name', u'tech_name', u'arch1', u'arch2'], dtype='object')

In [ ]:
len(df.index)

In [7]:
#df.drop(['tech_name_x', 'arch1_x', 'arch2_x','tech_name_y', 'arch1_y', 'arch2_y'], axis=1, inplace=True)
df = df.merge(df_tech_mapping, on='internal_sub_business_entity_name', how='left')
len(df.index)

103295

In [9]:
#df[pd.isnull(df.arch1)]
#df.columns
#writer = pd.ExcelWriter('../FY16_Com_Booking_Dump_Q4M2YTD.xlsx', engine='xlsxwriter')
#df.to_excel(writer, sheet_name='dump')
#writer.save()
#df['booking_net'].sum()
#df.pivot_table(values='booking_net', index=['sales_level_3'], columns=['services_indicator'], aggfunc=sum, margins=True)
#df[df.sales_level_3 == 'INDIA_COMM_1'].pivot_table(values='booking_net', index=['arch2'], columns=['services_indicator'], aggfunc=sum, margins=True)
#df[(df.sales_level_3 == 'INDIA_COMM_1')].pivot_table(values='booking_net', index=['services_indicator'], aggfunc=sum, margins=True)
#df[-(df.sales_level_3 == 'INDIA_COMM_1')].pivot_table(values='booking_net', index=['services_indicator'], aggfunc=sum, margins=True)
#df.pivot_table(values='booking_net', index=['services_indicator'], aggfunc=sum, margins=True)

df.to_csv('../FY16_EU3_Booking_Dump_Q4M2YTD.csv', sep=',', encoding='utf8')