In [ ]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import csv
from IPython.display import display, HTML
from matplotlib import pyplot as plt
%pylab inline
import string
import re
pd.options.display.float_format = '${:10,.0f}'.format

In [ ]:
df_xl_q3 = pd.read_excel('C:/Jeyaraj/Booking_Dump/Commercial_Booking_FY16Q3 (downloaded on 2016-07-01).xlsx')
#df_xl_q4 = pd.read_excel('C:/Jeyaraj/Booking_Dump/Commercial_Booking_FY16Q4M2 (downloaded on 2016-07-01).xlsx')

In [ ]:
sql = 'SELECT * FROM xldump_to_sqldump_map2'
df_sql_cols = pd.read_sql(sql, conn)
col_dict = {}
for index, rows in df_sql_cols.iterrows():
    col_dict[rows[1].lower()] = rows[2]
#print col_dict

In [ ]:
df_xl_q3.rename(columns=string.lower, inplace=True)
df_xl_q3.rename(columns=col_dict, inplace=True)
df_xl_q3.columns

In [ ]:
sql2 = 'SELECT MAX(ID) AS max_id FROM ent_dump_from_finance2';
df = pd.read_sql_query(sql2, conn)
max_id = df.loc[0]
max_id = max_id + 1
total_rows = len(df_xl_q3.index)
end_id = max_id + total_rows
index_id = Series([x for x in range(max_id, end_id)])
print max_id
print len(index_id)
df_xl_q3['id'] = index_id
#index_id
#print "Max ID in ent_dump_finance2 is %d" % num[0]

In [ ]:
#df_xl_q3.to_sql(name='ent_dump_from_finance2', con=engine, if_exists='append', index=False)

In [ ]:
#Initiate MySQL connection
engine_url = 'mysql://root:Jey03$78@localhost/mysourcedata?charset=utf8'
engine = create_engine(engine_url, pool_size=100, pool_recycle=3600, echo_pool=True)
conn = engine.connect()

sql = 'SELECT * FROM ent_dump_from_finance WHERE LEFT(Fiscal_Quarter_ID, 4)="2016"'
#sql = 'SELECT * FROM ent_dump_from_finance WHERE Fiscal_Quarter_ID="2016Q3"'
df_ent = pd.read_sql_query(sql, conn)
df_ent.rename(columns=string.lower, inplace=True)
pivoted = df_ent.pivot_table(index=['fiscal_quarter_id', 'fiscal_period_id'], columns=['sales_level_3','services_indicator'], values='booking_net', aggfunc=sum, margins=True, fill_value=0)
pivoted
#if df_ent.empty:
#    print 'DF is empty'
#else:
#    print 'DF has got items'

In [ ]:
#Make a ent_dump_from_finance2 (Temporary Table)
import MySQLdb
db = MySQLdb.connect('localhost', 'root', 'Jey03$78', 'mysourcedata')
cursor = db.cursor()
def createLikeTable(new_tbl_name, like_tbl_name, cursor):
    sql = 'CREATE TABLE IF NOT EXISTS '+new_tbl_name+' LIKE '+like_tbl_name
    cursor.execute(sql)
    
def cloneENT_DFF(year, cursor):
    sql = 'INSERT INTO ent_dump_from_finance2 SELECT * FROM ent_dump_from_finance WHERE LEFT(Fiscal_Quarter_ID,4)=%d' % (year)
    try:
        cursor.execute(sql)
        db.commit()
        print 'Committed!'
    except MySQLdb.Error, e:
        db.rollback()
        print "MySQL Error [%d]: %s" % (e.args[0], e.args[1])
    sql2 = 'SELECT COUNT(*) FROM ent_dump_from_finance2'
    cursor.execute(sql2)
    result = cursor.fetchone()
    print 'Following Record(s) have been appended for the year %d!' % (year)
    print result

def segmentizeCloning():
    db = MySQLdb.connect('localhost', 'root', 'Jey03$78', 'mysourcedata')
    cursor = db.cursor()
    for year in [2016]:
        cloneENT_DFF(year, cursor)
    db.close()

#createLikeTable('ent_dump_from_finance2', 'ent_dump_from_finance', cursor)
segmentizeCloning()

In [ ]:
import traceback

def readExcelGetDataFrame(absolute_path, file_name, sheet_name, field_to_upper='customer_name'):
    expanded_file_name = absolute_path + file_name + '.xlsx' 
    print 'Reading %s...' % expanded_file_name
    xl = pd.ExcelFile(expanded_file_name)
    df = xl.parse(sheet_name)
    df.rename(columns=string.lower, inplace=True)
    # df[field_to_upper] = df[field_to_upper].str.upper()
    return df


is_comm = True
year = 2016
absolute_path = 'C:/Jeyaraj/Analysis/PBG_Dashboards/pandas/'
list_df = []
file_name_txt = 'com_booking_mapped' if is_comm else 'ent_booking_mapped'
for quarter in ['Q1', 'Q2', 'Q3', 'Q4']:
    print 'Reading %s data...' % (str(year)+quarter)
    try:
        df = readExcelGetDataFrame(absolute_path, file_name_txt+str(year)+quarter, 'raw_data')
        print 'Mapped Data of %s contains %d row(s).' % ((str(year)+quarter), len(df.index))
        list_df.append(df)
        print 'Completed reading %s data!' % (str(year)+quarter)
    except:
        print 'Something went wrong!'
        traceback.print_exc()
print 'Joining Quarter DFs into One DF...!'
df_c = pd.concat(list_df)
print 'Mapped Data %d row(s).' % (len(df_c.index))

In [ ]:
def readExcelGetDataFrame(absolute_path, file_name, sheet_name, field_to_upper='customer_name'):
    expanded_file_name = absolute_path + file_name + '.xlsx' 
    print 'Reading %s...' % expanded_file_name
    xl = pd.ExcelFile(expanded_file_name)
    df = xl.parse(sheet_name)
    df.rename(columns=string.lower, inplace=True)
    # df[field_to_upper] = df[field_to_upper].str.upper()
    return df

#df_c.to_csv('../com_booking_mapped_2016.csv', sep=',', encoding='utf8')
#absolute_path = 'C:/Jeyaraj/Analysis/PBG_Dashboards/pandas/'
#df_sos = readExcelGetDataFrame(absolute_path, 'sos_mapping_list', 'sos','mapped_name')
#fields = ['gaining_sales_level_2', 'gaining_sales_level_3', 'gaining_sales_level_4', 'gaining_sales_level_5', \
#        'gaining_sales_level_6', 'mapable', 'mapped_name', 'remarks', 'where_to', 'gaining_sub_scms']

#df_sos.head()
#df_c.ix[df_c.sales_order_number_detail ==  rows['sales_order_number_detail'], field] = rows[field]
#df_c.ix[df_c.sales_order_number_detail ==  102133848]
for index, rows in df_sos.iterrows():
    #if rows['sales_order_number_detail'] == 102133848:
    print rows['sales_order_number_detail'], rows['remarks']
    for field in fields:
        #print field
        df_c.ix[df_c.sales_order_number_detail ==  rows['sales_order_number_detail'], field] = rows[field]
print df_c.ix[df_c.sales_order_number_detail ==  102134337]

#break

In [40]:
print df_c['sales_order_number_detail'].dtype

int64

In [ ]:
def extract_sonos(cell_value):
    pattern = re.compile(r"[\(,\s]*(\d{5,})[\),\s]")
    match = pattern.findall(cell_value)
    return match

def get_sos_file_to_dict(file_names):
    data_dict = {}
    for filename in file_names:
        df = pd.read_excel('../'+filename)
        for index, row in df.iterrows():
            temp_dict = {row[0] : row[2]}
            data_dict.update(temp_dict)
    return data_dict
    
def get_sos_file_to_dict_by_pattern(file_name):
    data_dict = {}
    df = pd.read_excel('../'+file_name)
    df.rename(columns=string.lower, inplace=True)
    for index, row in df.iterrows():
        if row['remarks'] != '' and pd.notnull(row['remarks']):
            cus_name = row[0]
            so_nos = extract_sonos(row['remarks'])
            temp_dict = {so_no: cus_name for so_no in so_nos}
            data_dict.update(temp_dict)
    return data_dict
    
def get_so_nos_from_file():
    data_dict = {}
    # Get SO_Nos from Vipul's update file
    data_dict.update(get_sos_file_to_dict_by_pattern('vipul_feedback.xlsx'))
    
    # Get ADP/Fidelity/Amway so numbers into Dataframe
    filenames = ['adp_sos.xlsx','fidelity_sos.xlsx','amway_sos.xlsx']
    data_dict.update(get_sos_file_to_dict(filenames))

    df_final = DataFrame.from_dict(data_dict, orient='index') # Dictionary to Dataframe will not have column names
    df_final.columns = ['mapped_name'] # Assign column names
    df_final['sales_order_number_detail'] = df_final.index # Make Index as column
    # Add More columns to the existing df_final dataframe
    empty_columns = ['mapped_name','mapable', 'gaining_sub_scms', 'remarks','where_to','gaining_sales_level_2','gaining_sales_level_3','gaining_sales_level_4','gaining_sales_level_5','gaining_sales_level_6']
    df_empty = pd.DataFrame(columns=empty_columns)
    
    df_final = pd.concat([df_final, df_empty]) # Concatenate df_final and df_empty to make df_final with all reqrd. columns
    srs_mapped_name = df_final['mapped_name'].unique() # Assign all unique customer_names from df_final into a list
    
    # Iterate over customers list, obtain other fields data from mapping list dataframe and assign them in df_final
    rqd_fields = ['mapable', 'mapped_name', 'gaining_sub_scms', 'remarks','where_to','gaining_sales_level_2','gaining_sales_level_3','gaining_sales_level_4','gaining_sales_level_5','gaining_sales_level_6']
    for name in srs_mapped_name:
        df_temp = df_c[df_c.mapped_name.str.contains(name, case=False).fillna(False)]
        if not df_temp.empty:
            df_temp = df_temp[rqd_fields]
            rqd_data = [df_temp.mapable.unique()[0],df_temp.mapped_name.unique()[0],df_temp.gaining_sub_scms.unique()[0],df_temp.remarks.unique()[0],df_temp.where_to.unique()[0],df_temp.gaining_sales_level_2.unique()[0],df_temp.gaining_sales_level_3.unique()[0],df_temp.gaining_sales_level_4.unique()[0],df_temp.gaining_sales_level_5.unique()[0],df_temp.gaining_sales_level_6.unique()[0]]
            df_final.ix[df_final.mapped_name.str.contains(name, case=False).fillna(False),rqd_fields] = rqd_data
    
    # Resetting and droping Index being sales order number and keep normal index
    df_final.reset_index(inplace=True) 
    df_final.drop(['index'], inplace=True, axis=1)
    df_final['sales_order_number_detail'] = df_final['sales_order_number_detail'].astype(int)
    writer = pd.ExcelWriter('../sos_mapping_list.xlsx', engine='xlsxwriter')
    df_final.to_excel(writer, sheet_name='sos')
    writer.save()
    #return df_final

get_so_nos_from_file()


#extract_sonos(df_vipul.remarks[0])

In [ ]:
rows = ['mapped_name']
cols = ['services_indicator']
#pivoted = df_c.pivot_table(values='booking_net', index=rows, columns=cols, aggfunc=sum, fill_value=0, margins=True)
#pivoted
grouped =

In [41]:
#df_anil = pd.read_excel('../anil_restated.xlsx')

In [145]:
df_com = pd.read_excel('../com_booking_mapped_2016.xlsx')

In [146]:
df_ent = pd.read_excel('../ent_booking_mapped_2016.xlsx')

In [160]:
len(df_com.index)

281324

In [161]:
len(df_ent.index)

204123

In [164]:
#xl = pd.ExcelFile('../node_mapping.xlsx')
#df_new_nodes = xl.parse('Sheet2')
#len(df_new_nodes.index)
df_new_nodes.drop(['sales_level_3', 'sales_level_4', 'sales_level_5'], axis=1, inplace=True)
df_new_nodes.head()

,sales_level_6,new_sales_level_3,new_sales_level_4,new_sales_level_5,new_sales_level_6
0,IN_COM_S_BLR_SL_TM,INDIA_COMM_1,INDIA_COMM_SL_MM,IN_S_BLR_SL,IN_COM_S_BLR_SL_TM
1,IN_COM_S_AP_TS_SL_TM,INDIA_COMM_1,INDIA_COMM_SL_MM,IN_S_AP_TS_MM,IN_COM_S_AP_MM_TM
2,IN_COM_S_TN_SL_TM,INDIA_COMM_1,INDIA_COMM_SL_MM,IN_S_TN_MM,IN_COM_S_TN_MM_TM
3,IN_COM_W_MUM_SL_TM,INDIA_COMM_1,INDIA_COMM_SL_MM,IN_W_MUM_SL,IN_COM_W_MUM_SL_TM
4,IN_COM_W_PRG_SL_TM,INDIA_COMM_1,INDIA_COMM_SL_MM,IN_W_PRG_SL,IN_COM_W_PRG_SL_TM

In [174]:
#df_com = df_com.merge(df_new_nodes, on='sales_level_6', how='left')
#df_ent = df_ent.merge(df_new_nodes, on='sales_level_6', how='left')
#len(df_ent.index)
#df_ent.head()

In [236]:
df_com_prod = df_com[df_com.services_indicator == 'N']
df_ent_prod = df_ent[df_ent.services_indicator == 'N']

In [176]:
grouped_a = df_anil.groupby('fiscal_quarter_id')['booking_net'].sum()
grouped_a.sum()

453858083.56290454

In [177]:
grouped_c = df_com_prod.groupby('fiscal_quarter_id')['booking_net'].sum()
grouped_c.sum()

230125257.48120773

In [178]:
grouped_e = df_ent_prod.groupby('fiscal_quarter_id')['booking_net'].sum()
grouped_e.sum()

223732826.07963723

In [179]:
grouped_f = df_2016.groupby(['fiscal_quarter_id'])['booking_net'].sum()
grouped_f.sum()

453858083.5608448

In [241]:
for each in df_anil.columns:
    print each

id
bookings_adjustments_code
bookings_adjustments_description
bookings_adjustments_type
at_attach
business_unit
customer_name
erp_deal_id
sales_order_number_detail
fiscal_period_id
fiscal_quarter_id
fiscal_week_id
partner_name
product_family
product_id
Sales Agent Name
sales_level_2
sales_level_3
sales_level_4
sales_level_5
sales_level_6
scms
sub_scms
tms_level_1_sales_allocated
tms_level_2_sales_allocated
tms_level_3_sales_allocated
tms_level_4_sales_allocated
technology_group
partner_tier_code
partner_certification
partner_type
bill_to_site_city
ship_to_city
cbn_flag
booking_net
internal_business_entity_name
internal_sub_business_entity_name
services_indicator
SAV Name
mapable
mapped_name
gaining_sub_scms
remarks
where_to
gaining_sales_level_2
gaining_sales_level_3
gaining_sales_level_4
gaining_sales_level_5
gaining_sales_level_6
booking_net_'000

In [237]:
def create_new_com_cols(df):
    #df.gaining_sales_level_2.fillna(df.new_sales_level_2, inplace=True)
    df.gaining_sales_level_3.fillna(df.sales_level_3, inplace=True)
    df.gaining_sales_level_4.fillna(df.sales_level_4, inplace=True)
    df.gaining_sales_level_5.fillna(df.sales_level_5, inplace=True)
    df.gaining_sales_level_6.fillna(df.sales_level_6, inplace=True)

    df.gaining_new_sales_level_3.fillna(df.new_sales_level_3, inplace=True)
    df.gaining_new_sales_level_4.fillna(df.new_sales_level_4, inplace=True)
    df.gaining_new_sales_level_5.fillna(df.new_sales_level_5, inplace=True)
    df.gaining_new_sales_level_6.fillna(df.new_sales_level_6, inplace=True)
    return df

def create_new_com_cols2(df):
    #df.gaining_sales_level_2.fillna(df.sales_level_2, inplace=True)
    df.gaining_sales_level_3.fillna(df.sales_level_3, inplace=True)
    df.gaining_sales_level_4.fillna(df.sales_level_4, inplace=True)
    df.gaining_sales_level_5.fillna(df.sales_level_5, inplace=True)
    df.gaining_sales_level_6.fillna(df.sales_level_6, inplace=True)
    return df

#pvt_com = df_com.pivot_table(values='booking_net', index=['services_indicator'], aggfunc=sum, margins=True)
#pvt_com

#pvt_ent = df_ent.pivot_table(values='booking_net', index=['services_indicator'], aggfunc=sum, margins=True)
#pvt_ent

#pvt_com = df_com_prod.pivot_table(values='booking_net', index=['services_indicator'], aggfunc=sum, margins=True)
#pvt_com

#pvt_ent = df_ent_prod.pivot_table(values='booking_net', index=['services_indicator'], aggfunc=sum, margins=True)
#pvt_ent

#pvt_anil_ent = df_anil_ent.pivot_table(values='booking_net', index=['services_indicator'], aggfunc=sum, margins=True)
#pvt_anil_ent
#pvt_anil_com = df_anil_com.pivot_table(values='booking_net', index=['services_indicator'], aggfunc=sum, margins=True)
#pvt_anil_com

#df_com_prod[pd.isnull(df_com_prod.new_sales_level_6)][['sales_level_6', 'gaining_new_sales_level_6', 'new_sales_level_6']]

df_com_prod = create_new_com_cols(df_com_prod)
df_ent_prod = create_new_com_cols2(df_ent_prod)
#df_ent_prod.columns
#df_anil[['sales_level_2', 'gaining_sales_level_2','sales_level_3', 'gaining_sales_level_3','sales_level_4', 'gaining_sales_level_4','sales_level_5', 'gaining_sales_level_5','sales_level_6', 'gaining_sales_level_6']]
#df_anil_ent = df_anil[-(df_anil.sales_level_3 == 'INDIA_COMM_1')]
#df_anil_com = df_anil[(df_anil.sales_level_3 == 'INDIA_COMM_1')]

In [208]:
com_rows_before = len(df_com_prod.index)
ent_rows_before = len(df_ent_prod.index)
print "COM - Before: %d" % (com_rows_before)
print "ENT - Before: %d" % (ent_rows_before)

COM - Before: 163449
ENT - Before: 144648

In [221]:
len(df_com_prod[df_com_prod.fiscal_quarter_id == '2016Q1'].index)

48580

In [238]:
def mergeChunks(df_left_main, df_right_main):
    list_dfs = []
    for quarter in ['2016Q1', '2016Q2', '2016Q3', '2016Q4']:
        print 'Extracting %s...' % quarter
        df_left = df_left_main[df_left_main.fiscal_quarter_id == quarter]
        df_right_chunk = df_right_main[df_right_main.fiscal_quarter_id == quarter]
        df_right = df_right_chunk[['customer_name', 'sales_order_number_detail', 'bookings_adjustments_description','gaining_sales_level_3', 'gaining_sales_level_4']]
        df_right = df_right.drop_duplicates()
        print 'Merging %s...' % quarter
        rows_before = len(df_left.index)
        df_left = df_left.merge(df_right, on=['customer_name', 'sales_order_number_detail', 'bookings_adjustments_description'], how='left')
        df_left.drop_duplicates(['customer_name', 'sales_order_number_detail', 'bookings_adjustments_description', 'booking_net'], keep='first', inplace=True)
        rows_after = len(df_left.index)
        print "Before: %d | After: %d" % (rows_before, rows_after)
        list_dfs.append(df_left)
        print 'Merged %s!' % quarter
    print 'Concatenating ...'
    df_final = pd.concat(list_dfs)
    return df_final
        

def validateSalesLevel3(row):
    df_match = df_anil_com_fields[(df_anil_com_fields.customer_name == row['customer_name']) & (df_anil_com_fields.bookings_adjustments_description == row['bookings_adjustments_description']) & (df_anil_com_fields.sales_order_number_detail == row['sales_order_number_detail'])]
    result = df_match['gaining_sales_level_3'].unique()[0] if len(df_match['gaining_sales_level_3'].unique())>0 else 'NOT FOUND'
    return result

def validateSalesLevel4(row):
    df_match = df_anil_com_fields[(df_anil_com_fields.customer_name == row['customer_name']) & (df_anil_com_fields.bookings_adjustments_description == row['bookings_adjustments_description']) & (df_anil_com_fields.sales_order_number_detail == row['sales_order_number_detail'])]
    result = df_match['gaining_sales_level_4'].unique()[0] if len(df_match['gaining_sales_level_4'].unique())>0 else 'NOT FOUND'
    return result

def validate_ENT_SL3(row):
    df_match = df_anil_ent_fields[(df_anil_ent_fields.customer_name == row['customer_name']) & (df_anil_ent_fields.bookings_adjustments_description == row['bookings_adjustments_description']) & (df_anil_ent_fields.sales_order_number_detail == row['sales_order_number_detail'])]
    result = df_match['gaining_sales_level_3'].unique()[0] if len(df_match['gaining_sales_level_3'].unique())>0 else 'NOT FOUND'
    return result

def validate_ENT_SL4(row):
    df_match = df_anil_ent_fields[(df_anil_ent_fields.customer_name == row['customer_name']) & (df_anil_ent_fields.bookings_adjustments_description == row['bookings_adjustments_description']) & (df_anil_ent_fields.sales_order_number_detail == row['sales_order_number_detail'])]
    result = df_match['gaining_sales_level_4'].unique()[0] if len(df_match['gaining_sales_level_4'].unique())>0 else 'NOT FOUND'
    return result

#df_com_prod['gaining_sales_level_3_y'] = df_com_prod.apply(lambda row: validateSalesLevel3(row), axis=1)
#df_com_prod['gaining_sales_level_4_y'] = df_com_prod.apply(lambda row: validateSalesLevel4(row), axis=1)

#df_ent_prod['gaining_sales_level_3_y'] = df_com_prod.apply(lambda row: validate_ENT_SL3(row), axis=1)
#df_ent_prod['gaining_sales_level_4_y'] = df_com_prod.apply(lambda row: validate_ENT_SL4(row), axis=1)


df_com_prod2 = mergeChunks(df_com_prod, df_anil_com)
com_rows_after = len(df_com_prod2.index)
#ent_rows_after = len(df_ent_prod2.index)
print "COM - Before: %d | After: %d" % (com_rows_before, com_rows_after)
#print "ENT - Before: %d | After: %d" % (ent_rows_before, ent_rows_after)

#df_anil_com_fields = df_anil_com[['customer_name', 'sales_order_number_detail', 'bookings_adjustments_description','gaining_sales_level_3', 'gaining_sales_level_4']]
#df_anil_ent_fields = df_anil_ent[['customer_name', 'sales_order_number_detail', 'bookings_adjustments_description','gaining_sales_level_3', 'gaining_sales_level_4']]
#len(df_anil_com_fields.index)
#df_anil_com_fields.gaining_sales_level_4.unique()[0]
#df_anil_com = df_anil_com.drop_duplicates()
#df_com_prod2 = df_com_prod.merge(df_anil_com_fields, on=['customer_name', 'sales_order_number_detail', 'bookings_adjustments_description'], how='left')
#df_ent_prod2 = df_ent_prod.merge(df_anil_ent_fields, on=['customer_name', 'sales_order_number_detail', 'bookings_adjustments_description'], how='left')
#com_rows_after = len(df_com_prod.index)
#ent_rows_after = len(df_ent_prod.index)
#print "COM - Before: %d | After: %d" % (com_rows_before, com_rows_after)
#print "ENT - Before: %d | After: %d" % (ent_rows_before, ent_rows_after)

Extracting 2016Q1...
Merging 2016Q1...
Before: 48580 | After: 46851
Merged 2016Q1!
Extracting 2016Q2...
Merging 2016Q2...
Before: 41502 | After: 40166
Merged 2016Q2!
Extracting 2016Q3...
Merging 2016Q3...
Before: 47833 | After: 46322
Merged 2016Q3!
Extracting 2016Q4...
Merging 2016Q4...
Before: 25534 | After: 24745
Merged 2016Q4!
Concatenating ...
COM - Before: 163449 | After: 158084

In [239]:
df_2016 = pd.concat([df_com_prod, df_ent_prod])

In [240]:
df_2016.to_csv('../booking_mapped_2016.csv', sep=',', encoding='utf8')