In [1]:
from pandas import Series, DataFrame

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [ ]:
df_com_booking_mapped = pd.read_pickle('../com_booking_mapped')

In [ ]:
df = df_com_booking_mapped[df_com_booking_mapped.mapped_name.str.contains('deutsche', case=False).fillna(False)]

In [ ]:
df_pvt = df.pivot_table(values=['booking_net'], index=['fiscal_quarter_id'], columns=['services_indicator'], aggfunc=sum)

In [ ]:
df_com_mapping.loc[:5]

In [ ]:
df_pvt.sum

In [ ]:
xl2 = pd.ExcelFile('../ent_mapping_list.xlsx')

In [ ]:
df_ent_mapping = xl2.parse('mapping_in_account_name')

In [ ]:
xl = pd.ExcelFile('../com_mapping_list_working.xlsx')

In [ ]:
df_com_mapping = xl.parse('mapping_in_account_name')

In [ ]:
df_com_mapping[df_com_mapping.unique_name.str.contains('VERIZON', case=False)]

In [ ]:
def check_if_mapped(c_name=None, how_many_words=1, leave_last=0, data_frame=df_com_mapping):
    c_name_split = c_name.split()
    cus_name = " ".join(c_name_split[:how_many_words])
    cus_name2 = ''
    if leave_last == 0:
        cus_name2 = cus_name
    else:
        cus_name2 = cus_name[:-leave_last]
    print cus_name2
    return data_frame[(data_frame.mapable != 'Yes') & data_frame.unique_name.str.startswith(cus_name2)]

In [ ]:
def map_whatnotmapped(find_cus=None, how_many_words=1, leave_last=0, where_to=None, data_frame=df_com_mapping, ud_rep_name=None):
    c_name_split = find_cus.split()
    cus_name = " ".join(c_name_split[:how_many_words])
    cus_name2 = ''
    if leave_last == 0:
        cus_name2 = cus_name
    else:
        cus_name2 = cus_name[:-leave_last]
    print cus_name2
    rep_cus = find_cus
    if ud_rep_name is not None:
        rep_cus = ud_rep_name
    data_frame.ix[data_frame.unique_name.str.startswith(cus_name2), 'mapped_name']=rep_cus
    data_frame.ix[data_frame.unique_name.str.startswith(cus_name2), 'where_to']=where_to
    data_frame.ix[data_frame.unique_name.str.startswith(cus_name2), 'mapable']='Yes'
    return data_frame[data_frame.unique_name.str.startswith(cus_name2)&data_frame.where_to.isnull()]

In [ ]:
def check_if_mapped2(c_name=None, how_many_words=1, leave_last=0, data_frame=df_com_mapping):
    c_name_split = c_name.split()
    cus_name = " ".join(c_name_split[:how_many_words])
    cus_name2 = ''
    if leave_last == 0:
        cus_name2 = cus_name
    else:
        cus_name2 = cus_name[:-leave_last]
    print cus_name2
    return data_frame[data_frame.unique_name.str.contains(cus_name2, case=False)]

In [ ]:
df_com_mapping.rename(columns=lambda x: x.lower(), inplace=True)

In [ ]:
def map_whatnotmapped2(find_cus=None, how_many_words=1, leave_last=0, where_to=None, data_frame=df_com_mapping, ud_rep_name=None):
    c_name_split = find_cus.split()
    cus_name = " ".join(c_name_split[:how_many_words])
    cus_name2 = ''
    if leave_last == 0:
        cus_name2 = cus_name
    else:
        cus_name2 = cus_name[:-leave_last]
    print cus_name2
    rep_cus = find_cus
    if ud_rep_name is not None:
        rep_cus = ud_rep_name
    data_frame.ix[data_frame.unique_name.str.contains(cus_name2, case=False), 'mapped_name']=rep_cus
    data_frame.ix[data_frame.unique_name.str.contains(cus_name2, case=False), 'where_to']=where_to
    data_frame.ix[data_frame.unique_name.str.contains(cus_name2, case=False), 'mapable']='Yes'
    return data_frame[data_frame.unique_name.str.contains(cus_name2, case=False)&data_frame.where_to.isnull()]

In [ ]:
df_com_mapping[df_com_mapping.unique_name.str.startswith('LEVEL')]

In [ ]:
map_whatnotmapped2('LEVEL 3 COMMUNICATIONS PVT LTD', 1, 0, 'GSP')

In [ ]:
check_if_mapped2('LEVEL 3 CARRIER LTD.', 1)

In [ ]:
def quick_check_on_mapping(param='contain'):
    if param == 'contain':
        return df_com_mapping[df_com_mapping.unique_name.str.contains('VERIZON', case=False)]
    else:
        return df_com_mapping[df_com_mapping.unique_name.str.startswith('VERIZON')]

In [ ]:
quick_check_on_mapping('tata intera')

In [ ]:
def map_in_unique_customers(file_name=None, sheet_name='Sheet1', df_ent_mapping=None):
    if df_ent_mapping is None:
        xl = pd.ExcelFile('../ent_mapping_list.xlsx')
        df_ent_mapping = xl.parse('mapping_in_account_name')
    xl2 = pd.ExcelFile(file_name)
    df = xl2.parse(sheet_name)
    total_rows = len(df.index)
    loop_counter = 1
    print total_rows
    for index, row in df.iterrows():
        cus_name = row['customer_name']
        moving_to = row['gaining_gtmu']
        print '%d/%d - %s' % (loop_counter, total_rows, cus_name)
        loop_counter = loop_counter+1
        loop = True
        while loop:
            print_data_frame(check_if_mapped2(cus_name, 1, data_frame=df_ent_mapping))
            can_i_proceed = raw_input('Level_1: Proceed to Map Y/N: ')
            if can_i_proceed.lower() == 'y':
                print_data_frame(map_whatnotmapped2(cus_name, 1, 0, moving_to, data_frame=df_ent_mapping))
                break
            elif can_i_proceed.lower() == 'n':
                ud_cus_name = raw_input('Give me a Text: ')
                temp_list = ud_cus_name.split()
                words = len(temp_list)
                print_data_frame(check_if_mapped2(ud_cus_name, words, data_frame=df_ent_mapping))
                can_i_proceed = raw_input('Level_2: Proceed to Map Y/N')
                if can_i_proceed.lower() == 'y':
                    print_data_frame(map_whatnotmapped2(ud_cus_name, words, 0, moving_to, ud_rep_name=cus_name, data_frame=df_ent_mapping))
                    break
                else:
                    can_i_proceed = raw_input('Level_3: Continue Startswith search Y/N: ' )
                    if can_i_proceed.lower() == 'y':
                        print_data_frame(check_if_mapped(cus_name, 1, data_frame=df_ent_mapping))
                        can_i_proceed = raw_input('Level_4: Proceed to Map Y/N: ')
                        if can_i_proceed.lower() == 'y':
                            print_data_frame(map_whatnotmapped(cus_name, 1, 0, moving_to, data_frame=df_ent_mapping))
                            break
                        else:
                            df.ix[df.customer_name == cus_name, 'remarks'] = 'CHECK'
                            break
                    else:
                        df.ix[df.customer_name == cus_name, 'remarks'] = 'CHECK'
                        break
            else:
                break
        writer = pd.ExcelWriter('../ent_mapping_list_anil.xlsx', engine='xlsxwriter')
        df_ent_mapping.to_excel(writer, sheet_name='mapping_in_account_name')
        writer.save()
        writer2 = pd.ExcelWriter(file_name, engine='xlsxwriter')
        df.to_excel(writer2, sheet_name='Sheet1')
        writer2.save()

In [ ]:
def print_data_frame(df):
    display(df)
    #for index, rows in df.iterrows():
        #print '%s | %s | %s | %s | %s | %s '% (rows['customer_name'],rows['unique_name'], rows['mapable'], rows['mapped_name'], rows['sub_scms'],rows['remarks'])

In [28]:
from IPython.display import display, HTML

In [ ]:
map_in_unique_customers('../anil_srinivas.xlsx')

In [ ]:
for i in [2016, 2015, 2014]:
    print i

In [ ]:
df_com_2016.loc[:5]

In [19]:
xl = pd.ExcelFile('../mapped_booking_data/com_booking_mapped2016.xlsx')

In [20]:
df_com_2016 = xl.parse('raw_data')

In [29]:
pd.options.display.float_format = '${:16,.0f}'.format

In [ ]:
fill_data = ['Yes','ALSTOM INDIA LTD','', '', 'INDIA_ENT_FSI_MFG_ECOMM', 'INDIA_AREA']

In [ ]:
df_ent_mapping[df_ent_mapping.unique_name.str.startswith('AXIS').fillna(False)]

In [ ]:
fill_header = ['mapable', 'mapped_name', 'gaining_sub_scms', 'remarks', 'where_to', 'gaining_sales_level_2']

In [ ]:
df_com_2016.ix[df_com_2016.bookings_adjustments_description.str.contains('Uber', case=False).fillna(False), fill_header] = fill_data

In [ ]:
df_com_2016[df_com_2016.bookings_adjustments_description.str.contains('Uber', case=False).fillna(False)]

In [ ]:
df_com_2016[df_com_2016.mapped_name.str.contains('uber', case=False).fillna(False)]

In [ ]:
pvt_com_2016 = df_com_2016.pivot_table(values=['booking_net'], index=['mapable', 'mapped_name','where_to'],columns=['services_indicator'], aggfunc=sum, fill_value=0)

In [ ]:
pvt_gap_inbound = pvt_com_2016.query('mapable == ["Yes"] and where_to == ["GAP Inbound"]')

In [ ]:
pvt_gap_inbound.sum

In [ ]:
writer = pd.ExcelWriter('../com_booking_mapped2016_v2.xlsx', engine='xlsxwriter')

In [ ]:
df_com_2016.to_excel(writer, sheet_name='raw_data')

In [ ]:
writer.save()

In [ ]:
df_ent_mapping[df_ent_mapping.unique_name.str.contains('BANK OF BARODA').fillna(False) & (df_ent_mapping.mapable == 'No')]

In [ ]:
df_ent_mapping[df_ent_mapping.unique_name.str.contains('VERIZON', case=False).fillna(False)]

In [ ]:
df_ent_mapping[df_ent_mapping.unique_name.str.startswith('BHEL').fillna(False)]

In [ ]:
df_ent_mapping.ix[df_ent_mapping.unique_name.str.contains('BHARAT HEAV', case=False).fillna(False), fill_header] = fill_data

In [ ]:
df_ent_mapping.ix[df_ent_mapping.unique_name.str.startswith('BHEL').fillna(False), fill_header] = fill_data

In [ ]:
df_

In [ ]:
fill_data = ['Yes','BHARAT HEAVY ELECTRICALS LIMITED','', '', 'INDIA_ENT_FSI_MFG_ECOMM', 'INDIA_AREA']

In [ ]:
df_com_2016 = pd.read_excel('../mapped_booking_data/com_booking_mapped2016_v1.xlsx', sheetname='raw_data')

In [61]:
pvt_com_2016 = df_com_2016.pivot_table(values='booking_net', index=['mapped_name','customer_name','sales_order_number_detail', 'fiscal_quarter_id'], columns='services_indicator', aggfunc=sum)

In [ ]:
fill_data = ['Yes','ALSTOM INDIA LTD','', '', 'INDIA_ENT_FSI_MFG_ECOMM', 'INDIA_AREA']

In [ ]:
fill_header = ['mapable', 'mapped_name', 'gaining_sub_scms', 'remarks', 'where_to', 'gaining_sales_level_2']

In [ ]:
df_com_2016.ix[df_com_2016.bookings_adjustments_description.str.contains('Uber', case=False).fillna(False), fill_header] = fill_data

In [74]:
pvt_com_2016.query('sales_order_number_detail == [101194362, 102353071, 102352659, 102110793]'),

(services_indicator                                                                                N  \
 mapped_name                customer_name  sales_order_number_detail fiscal_quarter_id
 FIDELITY BUSINESS SERVICES FIDELITY INDIA 101194362                 2016Q1             61873.100185
                                                                     2016Q2              -798.160014

 services_indicator                                                                      Y
 mapped_name                customer_name  sales_order_number_detail fiscal_quarter_id
 FIDELITY BUSINESS SERVICES FIDELITY INDIA 101194362                 2016Q1            NaN
                                                                     2016Q2            NaN  ,)

In [79]:
def search_for_SO(so_nos=None, df=df_com_2016):
    pvt = df.pivot_table(values='booking_net', index=['mapped_name', 'customer_name', 'sales_order_number_detail','fiscal_quarter_id'], columns='services_indicator', aggfunc=sum)    
    #display(pvt)
    #so_text = 'sales_order_number_detail == ['+str(so_no)+']'
    display(pvt.query('sales_order_number_detail == @so_nos'))

In [80]:
search_for_SO([101194362, 102353071, 102352659, 102110793])

services_indicator                                                                                N  \
mapped_name                customer_name  sales_order_number_detail fiscal_quarter_id
FIDELITY BUSINESS SERVICES FIDELITY INDIA 101194362                 2016Q1             61873.100185
                                                                    2016Q2              -798.160014

services_indicator                                                                      Y
mapped_name                customer_name  sales_order_number_detail fiscal_quarter_id
FIDELITY BUSINESS SERVICES FIDELITY INDIA 101194362                 2016Q1            NaN
                                                                    2016Q2            NaN

In [12]:
df_ent_2016 = pd.read_excel('../ent_booking_mapped2016.xlsx')

In [62]:
df_com_2016.ix[(df_com_2016.where_to != 'COMMERCIAL') & (df_com_2016.mapped_name.isnull()), 'mapped_name'] = 'Retained'

In [69]:
df_com_2016.ix[~df_com_2016.where_to.isnull()]

,id,bookings_adjustments_code,bookings_adjustments_description,bookings_adjustments_type,at_attach,business_unit,customer_name,erp_deal_id,sales_order_number_detail,fiscal_period_id,...,mapable,mapped_name,gaining_sub_scms,remarks,where_to,gaining_sales_level_2,gaining_sales_level_3,gaining_sales_level_4,gaining_sales_level_5,gaining_sales_level_6
21,2271361,DP,27-Aug-15NEW POS,POS,Sales Non-AT,SSEBU,PROCTER & GAMBLE HOME PRODUCTS LTD,NaN,304547899,201602,...,Yes,PROCTER AND GAMBLE,MM,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
27,2271370,DP,11-Aug-15NEW POS,POS,Sales Non-AT,TECHNICAL SUPPO,TATA COMMUNICATIONS,NaN,304200671,201601,...,Yes,TATA COMMUNICATIONS,NaN,NaN,GSP,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
29,2271376,DP,01-Aug-15NEW POS,POS,Sales Non-AT,ECBU,DEUTSCHE BANK,NaN,304018956,201601,...,Yes,DEUTSCHE BANK AG,GEO_NON_NA,Moving from COM (New),INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
40,2271403,DP,31-Aug-15NEW POS,POS,Sales Non-AT,SRGBU,TATA INTERACTIVE SERVICES LTD,NaN,304616376,201602,...,No,TATA GROUP,NaN,NaN,GSP,NaN,$ nan,$ nan,$ nan,$ nan
45,2271415,DP,25-Aug-15NEW POS,POS,Sales Non-AT,TECHNICAL SUPPO,TATASTEEL LTD,NaN,304495178,201602,...,No,TATA GROUP,NaN,NaN,GSP,NaN,$ nan,$ nan,$ nan,$ nan
52,2271434,DP,21-Aug-15NEW POS,POS,Sales Non-AT,TECHNICAL SUPPO,HONDA MOTORCYCLE & SCOOTER INDIA PVT LTD,NaN,303948005,201601,...,Yes,HONDA MOTOR COMPANY LIMITED,GEO_NON_NA,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
70,2271483,CM,OFFSET,BOOKING,Sales Non-AT,UABU,MONSANTO HOLDINGS PVT LTD,15862378,14190458,201602,...,Yes,MONSANTO COMPANY,SELECT,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
75,2271494,UNKNOWN,NOT APPLICABLE,NaN,Sales Non-AT,TMGBU,CREDIT SUISSE SERVICES INDIA PRIVATE LTD,16220483,14221217,201603,...,Yes,CREDIT-SUISSE,MM,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
80,2271509,CM,OFFSET,BOOKING,Sales Non-AT,TECHNICAL SUPPO,CARGILL INDIA PVT LTD,NaN,14170161,201601,...,Yes,CARGILL INDIA PRIVATE LIMITED,GEO_NAMED,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
94,2271548,UNKNOWN,NOT APPLICABLE,NaN,Sales Non-AT,TMGBU,CREDIT-SUISSE,16204674,101237984,201603,...,Yes,CREDIT-SUISSE,MM,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
100,2271560,UNKNOWN,NOT APPLICABLE,NaN,Sales AT,UCEBU,FUJITSU CONSULTING INDIA PRIVATE LTD,16218463,101323394,201603,...,Yes,FUJITSU INDIA LIMITED,SELECT,Moving from COM (New),INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
104,2271568,CM,OFFSET,BOOKING,Sales Non-AT,SRGBU,TATA BUSINESS SUPPORT SERVICES LIMITED,16021447,14195591,201602,...,No,TATA GROUP,NaN,NaN,GSP,NaN,$ nan,$ nan,$ nan,$ nan
121,2271622,DP,24-Sep-15NEW POS,POS,Sales Non-AT,TECHNICAL SUPPO,JASPER INFOTECH PVT LTD,NaN,305206164,201603,...,Yes,Snapdeal/Jasper,SELECT,Moving from COM,INDIA_ENT_FSI_MFG_ECOMM,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
131,2271650,DP,09-Sep-15NEW POS,POS,Sales Non-AT,TECHNICAL SUPPO,SEAGATE TECHNOLOGY HDD I PVT LTD,NaN,304788237,201602,...,Yes,SEAGATE,GEO_NON_NA,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
144,2271692,UNKNOWN,NOT APPLICABLE,NaN,Sales Non-AT,TECHNICAL SUPPO,COLGATE-PALMOLIVE INDIA LTD,NaN,101016217,201601,...,Yes,COLGATE-PALMOLIVE (INDIA) LIMITED,SELECT,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
156,2271715,CM,OFFSET,BOOKING,Sales Non-AT,TMGBU,JOHN DEERE INDIA PVT LTD,15258780,14190753,201602,...,Yes,JOHN DEERE INDIA PVT. LTD.,SELECT,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
167,2271749,DP,30-Sep-15NEW POS,POS,Sales Non-AT,TECHNICAL SUPPO,TATA COMMUNICATONS,NaN,305383051,201603,...,Yes,TATA COMMUNICATIONS,NaN,NaN,GSP,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
172,2271773,DP,11-Aug-15NEW POS,POS,Sales Non-AT,TECHNICAL SUPPO,TATACOMMUNICATIONS,NaN,304200641,201601,...,Yes,TATA COMMUNICATIONS,NaN,NaN,GSP,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
175,2271777,CM,OFFSET,BOOKING,Sales Non-AT,TMGBU,SCHNEIDER ELECTRIC INDIA LTD,14007014,14194702,201602,...,Yes,SCHNEIDER ELECTRIC INDIA LIMITED,GEO_NAMED,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
188,2271816,UNKNOWN,NOT APPLICABLE,NaN,Sales Non-AT,TMGBU,DAIMLER INDIA COMMERCIAL VEHICLES PRIVATE LTD,12357168,14167744,201601,...,Yes,DAIMLER,GEO_NAMED,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
194,2271836,DP,13-Oct-15NEW POS,POS,Sales AT,CVEBU,ROCKWELL AUTOMATION INDIA LTD,NaN,305709322,201603,...,Yes,ROCKWELL AUTOMATION INC,NaN,Moving from COM (New),INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
200,2271856,CM,OFFSET,BOOKING,Not Categorized,ADVANCED SERVIC,ADP ROSELAND,13623503,100919192,201602,...,Yes,ADP,MM,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
208,2271890,DP,20-Aug-15NEW POS,POS,Sales Non-AT,UABU,BANK OF TOKYO,NaN,304399500,201601,...,Yes,BANK OF TOKYO MITSUBISHI LTD. BANGLADESH,GEO_NAMED,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
215,2271914,CM,OFFSET,BOOKING,Sales Non-AT,TMGBU,UNISYS GLOBAL SERVICES INDIA,15755461,100914604,201602,...,Yes,UNISYS INDIA PRIVATE LTD,SELECT,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
221,2271926,DP,21-Oct-15NEW POS,POS,Sales Non-AT,TECHNICAL SUPPO,UBER TECHNOLOGIES,NaN,305982607,201603,...,Yes,Uber,GEO_NAMED,Moving from COM,INDIA_ENT_FSI_MFG_ECOMM,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
225,2271942,UNKNOWN,NOT APPLICABLE,NaN,Sales Non-AT,WNBU,SOCIETE GENERALE,16235296,14223713,201603,...,Yes,SOCIETE GENERALE GROUP,MM,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
249,2272056,DP,12-Aug-15NEW POS,POS,Sales Non-AT,TECHNICAL SUPPO,TATA AIG INSURANCE CO LTD,NaN,304200784,201601,...,No,TATA GROUP,NaN,NaN,GSP,NaN,$ nan,$ nan,$ nan,$ nan
252,2272067,DP,21-Aug-15NEW POS,POS,Sales Non-AT,TECHNICAL SUPPO,TECHMAHINDRA LTD,NaN,304431339,201601,...,Yes,TECH MAHINDRA,NaN,NaN,GSP,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
255,2272072,DP,01-Oct-15NEW POS,POS,Sales Non-AT,TECHNICAL SUPPO,ABB INDIA LTD,NaN,305382253,201603,...,Yes,ABB,MM,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
258,2272086,UNKNOWN,NOT APPLICABLE,NaN,Sales AT,SAVBU,BECHTEL CORPORATION,16092037,14223199,201603,...,Yes,BECHTEL INDIA PRIVATE LIMITED,GEO_NON_NA,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232924,2873754,CM,OFFSET,BOOKING,Sales Non-AT,UABU,QUALCOMM INDIA PRIVATE LIMITED,16415727,101649920,201607,...,Yes,QUALCOMM INDIA PRIVATE LTD,MM,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
232930,2873763,DP,22-Apr-16NEW POS,POS,Sales Non-AT,TECHNICAL SUPPO,XEROX BUSINESS SERVICES INDIA PRIVATE LTD,NaN,311100896,201609,...,Yes,Xerox Corporation,NaN,Moving from COM (New),INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
232933,2873767,UNKNOWN,NOT APPLICABLE,NaN,Sales Non-AT,ADVANCED SERVIC,US BANCORP,15925247,102173955,201609,...,Yes,BANCO SANTANDER,NaN,Moving from COM (New),INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
232957,2873820,UNKNOWN,NOT APPLICABLE,NaN,Sales Non-AT,UABU,CARGILL INDIA PVT LTD,16613090,102109363,201608,...,Yes,CARGILL INDIA PRIVATE LIMITED,GEO_NAMED,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
232964,2873842,CM,OFFSET,BOOKING,Sales Non-AT,TECHNICAL SUPPO,AMWAY INDIA ENTERPRISES PVT LT,16045934,102012051,201609,...,Yes,AMWAY INDIA,GEO_NAMED,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
232971,2873862,CM,OFFSET,BOOKING,Sales Non-AT,TECHNICAL SUPPO,MS RENAULT NISSAN AUTOMOTIVE INDIA PVT LTD,16429160,101686618,201607,...,Yes,RENAULT,GEO_NON_NA,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
232975,2873869,Revenue Transfer Auto - Manual,Revenue Transfer Auto - Manual,BOOKING,Sales AT,UCIBU,MERCK SHARP & DOHME CORPORATION,11336802,54079410,201608,...,Yes,MERCK & COMPANY INC,GEO_NAMED,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
232978,2873878,UNKNOWN,NOT APPLICABLE,NaN,Sales AT,UCEBU,SG SOFTWARE ASIA PVT LTD,16638255,102269716,201609,...,Yes,SOCIETE GENERALE GROUP,MM,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
232987,2873906,DP,13-Apr-16NEW POS,POS,Sales Non-AT,WNBU,SIEMENS BANGLADESH LTD,NaN,310857550,201609,...,Yes,SIEMENS ENTERPRISE COMMUNICATIONS PVT LTD,GEO_NAMED,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
232988,2873910,DP,31-Mar-16NEW POS,POS,Sales Non-AT,WNBU,PROCTER & GAMBLE HOME PRODUCTS LTD,NaN,310514885,201609,...,Yes,PROCTER AND GAMBLE,MM,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
232991,2873921,UNKNOWN,NOT APPLICABLE,NaN,Sales Non-AT,TMGBU,XOME,16582462,102073234,201608,...,Yes,MEDTRONIC,MM,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
232993,2873929,DP,28-Mar-16NEW POS,POS,Sales Non-AT,UCBU,AMWAY INDIA ENTERPRISES PVT LTD,NaN,310436898,201609,...,Yes,AMWAY INDIA,GEO_NAMED,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
233004,2873950,UNKNOWN,NOT APPLICABLE,NaN,Sales Non-AT,TMGBU,XOME,16582462,102073234,201608,...,Yes,MEDTRONIC,MM,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
233012,2873973,DP,04-Feb-16NEW POS,POS,Sales Non-AT,WNBU,OLA CABS,NaN,309031456,201607,...,Yes,Ola/ANI Technologies,SELECT,Moving from COM,INDIA_ENT_FSI_MFG_ECOMM,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
233024,2873998,UNKNOWN,NOT APPLICABLE,NaN,Sales AT,CVEBU,INTERCONTINENTAL HOTELS GROUP,16569144,102252445,201609,...,Yes,CONTINENTAL AG,GEO_NAMED,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
233026,2874003,UNKNOWN,NOT APPLICABLE,NaN,Sales Non-AT,TMGBU,QUALCOMM INDIA PRIVATE LIMITED,16415727,101649920,201607,...,Yes,QUALCOMM INDIA PRIVATE LTD,MM,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
233047,2874055,CM,OFFSET,BOOKING,Sales Non-AT,TECHNICAL SUPPO,LOREAL INDIA PRIVATE LTD,16426516,101850966,201608,...,Yes,L'OREAL,MM,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
233049,2874060,UNKNOWN,NOT APPLICABLE,NaN,Sales Non-AT,TMGBU,QUALCOMM INDIA PRIVATE LIMITED,16728846,102351364,201609,...,Yes,QUALCOMM INDIA PRIVATE LTD,MM,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
233068,2874131,DP,29-Mar-16NEW POS,POS,Sales Non-AT,TECHNICAL SUPPO,LOREAL INDIA PRIVATE LTD,NaN,310445706,201609,...,Yes,L'OREAL,MM,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
233072,2874141,DP,02-Mar-16NEW POS,POS,Sales Non-AT,TECHNICAL SUPPO,SIEMENS INDUSTRY SOFTWARE I PVT LTD,NaN,309755561,201608,...,Yes,SIEMENS ENTERPRISE COMMUNICATIONS PVT LTD,GEO_NAMED,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
233097,2874181,CM,OFFSET,BOOKING,Sales Non-AT,UABU,FIRSTDATA INDIA PVT LTD,16438988,101670021,201607,...,Yes,FIRST DATA INDIA PRIVATE LIMITED,MM,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
233126,2874257,DP,02-Mar-16NEW POS,POS,Sales Non-AT,TECHNICAL SUPPO,SIEMENS INDUSTRY SOFTWARE I PVT LTD,NaN,309755575,201608,...,Yes,SIEMENS ENTERPRISE COMMUNICATIONS PVT LTD,GEO_NAMED,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
233127,2874260,CM,OFFSET,BOOKING,Sales Non-AT,UABU,HINDUSTAN UNILEVER LTD,16397343,101702550,201607,...,Yes,UNILEVER,NaN,Moving from COM (New),INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
233129,2874265,UNKNOWN,NOT APPLICABLE,NaN,Sales Non-AT,UABU,ERNST & YOUNG,16465118,101769158,201608,...,Yes,ERNST & YOUNG,GEO_NON_NA,Moving from COM (New),INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
233137,2874277,DP,22-Mar-16NEW POS,POS,Sales Non-AT,TECHNICAL SUPPO,JOHNSON CONTROLS INDIA P LTD,NaN,310282611,201608,...,No,TATA GROUP,GEO_NAMED,Moving from COM,GSP,NaN,$ nan,$ nan,$ nan,$ nan
233139,2874279,Revenue Transfer Auto - Manual,Revenue Transfer Auto - Manual,BOOKING,Sales AT,UCIBU,MERCK SHARP & DOHME CORPORATION,11336802,54079410,201608,...,Yes,MERCK & COMPANY INC,GEO_NAMED,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
233141,2874284,UNKNOWN,NOT APPLICABLE,NaN,Sales Non-AT,TMGBU,DAIMLER HERO COMMERCIAL VEHICL,16642772,102157169,201608,...,Yes,DAIMLER,GEO_NAMED,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
233158,2874326,UNKNOWN,NOT APPLICABLE,NaN,Sales Non-AT,UABU,ANZ INFORMATION TECHNOLOGY PVT LTD,16106606,101820426,201609,...,Yes,ANZ INFORMATION TECHNOLOGY,NaN,Moving from COM (New),INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
233159,2874328,CM,OFFSET,BOOKING,Sales Non-AT,SRGBU,MONSANTO ENTERPRISES LTD,16299419,101653719,201607,...,Yes,MONSANTO COMPANY,SELECT,Moving from COM,INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan
233162,2874335,UNKNOWN,NOT APPLICABLE,NaN,Sales Non-AT,TMGBU,MARSH & MCLENNON MERCER,16630976,102200680,201609,...,Yes,MARSH & MCLENNAN,NaN,Moving from COM (New),INDIA_ENT_GI,INDIA_AREA,$ nan,$ nan,$ nan,$ nan

In [16]:
writer = pd.ExcelWriter('../ent_booking_mapped2016_v2.xlsx', engine='xlsxwriter')

In [17]:
df_ent_2016.to_excel(writer, sheet_name='raw_data')

In [18]:
writer.save()

In [45]:
so_pvt_df_com_2016 = df_com_2016.pivot_table(values='booking_net', index=['sales_order_number_detail', 'customer_name', 'fiscal_quarter_id'], columns=['sales_level_4','services_indicator'], aggfunc=sum, fill_value=0)

In [46]:
so_pvt_df_com_2016

sales_level_4                                                                                  INDIA_COMM_EU1_SOUTH  \
services_indicator                                                                                                N
sales_order_number_detail customer_name                                      fiscal_quarter_id
-9999                     UNKNOWN                                            2016Q1               $         -10,217
                                                                             2016Q2               $          -2,328
                                                                             2016Q3               $            -946
 1671                     AVERY DENNISON CORPORATION                         2016Q1               $               0
 1672                     ZF FRIEDRICHSHAFEN AG                              2016Q1               $               0
 1673                     CATHAY PACIFIC AIRWAYS                             2016Q1               $               0
 1674                     PHILIP MORRIS INTERNATIONAL                        2016Q1               $               0
 1675                     PHILIP MORRIS INTERNATIONAL                        2016Q1               $               0
 1676                     LION RESOURCES SINGAPORE                           2016Q1               $               0
 1677                     LOREAL CHINA                                       2016Q1               $               0
 1678                     THE CARLYLE GROUP                                  2016Q1               $           1,012
 1679                     THE CARLYLE GROUP                                  2016Q1               $               0
 1680                     THE CARLYLE GROUP                                  2016Q1               $           1,012
 1681                     ASC (AUTOMATED SYSTEM CO)                          2016Q1               $             308
 1682                     COLGATE PALMOLIVE INC                              2016Q1               $               0
 1683                     COLGATE PALMOLIVE INC                              2016Q1               $               0
 1684                     SITA AIRCOM                                        2016Q1               $               0
 1685                     MERCER CONSULTING                                  2016Q1               $               0
 1686                     COLGATE PALMOLIVE INC                              2016Q1               $               0
 1687                     LION RESOURCES SINGAPORE                           2016Q1               $               0
 1688                     TRW                                                2016Q1               $           3,954
 1689                     ASC (AUTOMATED SYSTEM CO)                          2016Q1               $               0
 1690                     DANONE                                             2016Q1               $               0
 1691                     SINGAPORE AIRLINES                                 2016Q1               $               0
 1692                     LION RESOURCES SINGAPORE                           2016Q1               $               0
 1693                     CLEARWATER CAPITAL PARTNERS                        2016Q1               $               0
 1694                     THE CARLYLE GROUP                                  2016Q1               $           1,148
 1695                     LION RESOURCES SINGAPORE                           2016Q1               $               0
 1696                     ASC (AUTOMATED SYSTEM CO)                          2016Q1               $               0
 1697                     SINGAPORE AIRLINES                                 2016Q1               $               0
...                                                                                                             ...
 900027432                DST WORLDWIDE SERVICES INDIA PVT LTD               2016Q2               $           8,487
                                                                             2016Q3               $            -104
 900028300                INGRAM MICRO INDIA PRIVATE LIMITED SINGAPORE BR... 2016Q2               $             708
 900028769                EATON TRUCK PVT LIMITED                            2016Q2               $               0
                          JQ NETWORK PTE LTD                                 2016Q2               $               0
 900029212                ONE 97 COMMUNICATIONS PVT LTD                      2016Q2               $               0
 900033244                INGRAM MICRO INDIA PRIVATE LTD                     2016Q2               $               0
                                                                             2016Q3               $               0
 900033414                UIIC                                               2016Q2               $          51,896
                                                                             2016Q3               $            -566
 900033792                C S C INDIA PRIVATE LTD                            2016Q3               $               0
 900034521                INFLOW TECHNOLOGIES PRIVATE LTD                    2016Q2               $               0
 900035722                VELOCIS SYSTEMS PVT LTD                            2016Q3               $               0
 900036435                JOHN DERE INDAI PVT LTD                            2016Q2               $               0
 900038744                IBS SOFTWARE EUROPE LTD. C/O EQUINIX (GERMANY) GMB 2016Q3               $          65,753
 900039097                REDINGTON DISTRIBUTION PTE LTD                     2016Q3               $               0
 900039425                MOTHERSON AUTOMOTIVE TECHNOLOG & ENGINEERING, C... 2016Q3               $               0
                          MOTHERSON SUMI INFOTECH AND DESIGNS LTD            2016Q3               $               0
 900039962                QUALYS SECURITY TECH SERVICES PVT LTD              2016Q3               $               0
 900042165                M/S REDINGTON  INDIA  LIMITED                      2016Q3               $          14,002
 900043396                INGRAM MICRO INDIA PRIVATE LTD                     2016Q3               $             272
 900044206                DIMENSION DATA INDIA PRIVATE LTD                   2016Q3               $           4,230
 1600000950               VERSA TECHNOLOGIES                                 2016Q1               $           1,550
 4116073516               R & D SYSTEMS                                      2016Q3               $               0
 4116073517               R & D SYSTEMS                                      2016Q3               $               0
 4116073518               R & D SYSTEMS                                      2016Q3               $               0
 5012518037               247 CUSTOMER INC                                   2016Q3               $          33,984
 6716100087               UNKNOWN                                            2016Q1               $               0
 6716100088               UNKNOWN                                            2016Q1               $               0
 6716100089               UNKNOWN                                            2016Q1               $               0

sales_level_4                                                                                                     \
services_indicator                                                                                             Y
sales_order_number_detail customer_name                                      fiscal_quarter_id
-9999                     UNKNOWN                                            2016Q1            $         -11,773
                                                                             2016Q2            $        -105,181
                                                                             2016Q3            $         -45,454
 1671                     AVERY DENNISON CORPORATION                         2016Q1            $               0
 1672                     ZF FRIEDRICHSHAFEN AG                              2016Q1            $               0
 1673                     CATHAY PACIFIC AIRWAYS                             2016Q1            $               0
 1674                     PHILIP MORRIS INTERNATIONAL                        2016Q1            $               0
 1675                     PHILIP MORRIS INTERNATIONAL                        2016Q1            $               0
 1676                     LION RESOURCES SINGAPORE                           2016Q1            $               0
 1677                     LOREAL CHINA                                       2016Q1            $               0
 1678                     THE CARLYLE GROUP                                  2016Q1            $               0
 1679                     THE CARLYLE GROUP                                  2016Q1            $               0
 1680                     THE CARLYLE GROUP                                  2016Q1            $               0
 1681                     ASC (AUTOMATED SYSTEM CO)                          2016Q1            $               0
 1682                     COLGATE PALMOLIVE INC                              2016Q1            $               0
 1683                     COLGATE PALMOLIVE INC                              2016Q1            $               0
 1684                     SITA AIRCOM                                        2016Q1            $               0
 1685                     MERCER CONSULTING                                  2016Q1            $               0
 1686                     COLGATE PALMOLIVE INC                              2016Q1            $               0
 1687                     LION RESOURCES SINGAPORE                           2016Q1            $               0
 1688                     TRW                                                2016Q1            $               0
 1689                     ASC (AUTOMATED SYSTEM CO)                          2016Q1            $               0
 1690                     DANONE                                             2016Q1            $               0
 1691                     SINGAPORE AIRLINES                                 2016Q1            $               0
 1692                     LION RESOURCES SINGAPORE                           2016Q1            $               0
 1693                     CLEARWATER CAPITAL PARTNERS                        2016Q1            $               0
 1694                     THE CARLYLE GROUP                                  2016Q1            $               0
 1695                     LION RESOURCES SINGAPORE                           2016Q1            $               0
 1696                     ASC (AUTOMATED SYSTEM CO)                          2016Q1            $               0
 1697                     SINGAPORE AIRLINES                                 2016Q1            $               0
...                                                                                                          ...
 900027432                DST WORLDWIDE SERVICES INDIA PVT LTD               2016Q2            $               0
                                                                             2016Q3            $               0
 900028300                INGRAM MICRO INDIA PRIVATE LIMITED SINGAPORE BR... 2016Q2            $               0
 900028769                EATON TRUCK PVT LIMITED                            2016Q2            $               0
                          JQ NETWORK PTE LTD                                 2016Q2            $               0
 900029212                ONE 97 COMMUNICATIONS PVT LTD                      2016Q2            $               0
 900033244                INGRAM MICRO INDIA PRIVATE LTD                     2016Q2            $               0
                                                                             2016Q3            $               0
 900033414                UIIC                                               2016Q2            $          10,012
                                                                             2016Q3            $            -113
 900033792                C S C INDIA PRIVATE LTD                            2016Q3            $               0
 900034521                INFLOW TECHNOLOGIES PRIVATE LTD                    2016Q2            $               0
 900035722                VELOCIS SYSTEMS PVT LTD                            2016Q3            $               0
 900036435                JOHN DERE INDAI PVT LTD                            2016Q2            $               0
 900038744                IBS SOFTWARE EUROPE LTD. C/O EQUINIX (GERMANY) GMB 2016Q3            $          20,870
 900039097                REDINGTON DISTRIBUTION PTE LTD                     2016Q3            $               0
 900039425                MOTHERSON AUTOMOTIVE TECHNOLOG & ENGINEERING, C... 2016Q3            $               0
                          MOTHERSON SUMI INFOTECH AND DESIGNS LTD            2016Q3            $               0
 900039962                QUALYS SECURITY TECH SERVICES PVT LTD              2016Q3            $               0
 900042165                M/S REDINGTON  INDIA  LIMITED                      2016Q3            $               0
 900043396                INGRAM MICRO INDIA PRIVATE LTD                     2016Q3            $               0
 900044206                DIMENSION DATA INDIA PRIVATE LTD                   2016Q3            $               0
 1600000950               VERSA TECHNOLOGIES                                 2016Q1            $               0
 4116073516               R & D SYSTEMS                                      2016Q3            $               0
 4116073517               R & D SYSTEMS                                      2016Q3            $               0
 4116073518               R & D SYSTEMS                                      2016Q3            $               0
 5012518037               247 CUSTOMER INC                                   2016Q3            $               0
 6716100087               UNKNOWN                                            2016Q1            $               0
 6716100088               UNKNOWN                                            2016Q1            $               0
 6716100089               UNKNOWN                                            2016Q1            $               0

sales_level_4                                                                                  INDIA_COMM_EU2_WEST  \
services_indicator                                                                                               N
sales_order_number_detail customer_name                                      fiscal_quarter_id
-9999                     UNKNOWN                                            2016Q1              $               0
                                                                             2016Q2              $          -1,950
                                                                             2016Q3              $               0
 1671                     AVERY DENNISON CORPORATION                         2016Q1              $           2,160
 1672                     ZF FRIEDRICHSHAFEN AG                              2016Q1              $               0
 1673                     CATHAY PACIFIC AIRWAYS                             2016Q1              $               0
 1674                     PHILIP MORRIS INTERNATIONAL                        2016Q1              $               0
 1675                     PHILIP MORRIS INTERNATIONAL                        2016Q1              $               0
 1676                     LION RESOURCES SINGAPORE                           2016Q1              $           7,542
 1677                     LOREAL CHINA                                       2016Q1              $             308
 1678                     THE CARLYLE GROUP                                  2016Q1              $               0
 1679                     THE CARLYLE GROUP                                  2016Q1              $           2,114
 1680                     THE CARLYLE GROUP                                  2016Q1              $               0
 1681                     ASC (AUTOMATED SYSTEM CO)                          2016Q1              $               0
 1682                     COLGATE PALMOLIVE INC                              2016Q1              $           3,862
 1683                     COLGATE PALMOLIVE INC                              2016Q1              $               0
 1684                     SITA AIRCOM                                        2016Q1              $               0
 1685                     MERCER CONSULTING                                  2016Q1              $               0
 1686                     COLGATE PALMOLIVE INC                              2016Q1              $               0
 1687                     LION RESOURCES SINGAPORE                           2016Q1              $           3,862
 1688                     TRW                                                2016Q1              $               0
 1689                     ASC (AUTOMATED SYSTEM CO)                          2016Q1              $             184
 1690                     DANONE                                             2016Q1              $           2,620
 1691                     SINGAPORE AIRLINES                                 2016Q1              $               0
 1692                     LION RESOURCES SINGAPORE                           2016Q1              $               0
 1693                     CLEARWATER CAPITAL PARTNERS                        2016Q1              $               0
 1694                     THE CARLYLE GROUP                                  2016Q1              $               0
 1695                     LION RESOURCES SINGAPORE                           2016Q1              $               0
 1696                     ASC (AUTOMATED SYSTEM CO)                          2016Q1              $               0
 1697                     SINGAPORE AIRLINES                                 2016Q1              $               0
...                                                                                                            ...
 900027432                DST WORLDWIDE SERVICES INDIA PVT LTD               2016Q2              $               0
                                                                             2016Q3              $               0
 900028300                INGRAM MICRO INDIA PRIVATE LIMITED SINGAPORE BR... 2016Q2              $               0
 900028769                EATON TRUCK PVT LIMITED                            2016Q2              $           3,234
                          JQ NETWORK PTE LTD                                 2016Q2              $          -3,234
 900029212                ONE 97 COMMUNICATIONS PVT LTD                      2016Q2              $               0
 900033244                INGRAM MICRO INDIA PRIVATE LTD                     2016Q2              $           3,792
                                                                             2016Q3              $             -10
 900033414                UIIC                                               2016Q2              $               0
                                                                             2016Q3              $               0
 900033792                C S C INDIA PRIVATE LTD                            2016Q3              $               0
 900034521                INFLOW TECHNOLOGIES PRIVATE LTD                    2016Q2              $           2,967

In [58]:
def show_com_data_by_so_no(so_no=None,df=df_com_2016):
    pvt = df.pivot_table(values='booking_net', index=['sales_order_number_detail', 'mapped_name','customer_name'], columns=['sales_level_4','services_indicator'], aggfunc=sum, fill_value=0)
    result = pvt.query('sales_order_number_detail == [@so_no]')
    display(result)

In [72]:
show_com_data_by_so_no(102353071)

sales_level_4                                                      INDIA_COMM_EU1_SOUTH  \
services_indicator                                                                    N
sales_order_number_detail mapped_name                customer_name
102353071                 FIDELITY BUSINESS SERVICES UNKNOWN          $               0

sales_level_4                                                                         \
services_indicator                                                                 Y
sales_order_number_detail mapped_name                customer_name
102353071                 FIDELITY BUSINESS SERVICES UNKNOWN       $               0

sales_level_4                                                      INDIA_COMM_EU2_WEST  \
services_indicator                                                                   N
sales_order_number_detail mapped_name                customer_name
102353071                 FIDELITY BUSINESS SERVICES UNKNOWN         $               0

sales_level_4                                                                         \
services_indicator                                                                 Y
sales_order_number_detail mapped_name                customer_name
102353071                 FIDELITY BUSINESS SERVICES UNKNOWN       $               0

sales_level_4                                                      INDIA_COMM_EU3_NE_SAARC  \
services_indicator                                                                       N
sales_order_number_detail mapped_name                customer_name
102353071                 FIDELITY BUSINESS SERVICES UNKNOWN             $         103,174

sales_level_4                                                                         \
services_indicator                                                                 Y
sales_order_number_detail mapped_name                customer_name
102353071                 FIDELITY BUSINESS SERVICES UNKNOWN       $               0

sales_level_4                                                        INDIA_COMM_MISC  \
services_indicator                                                                 N
sales_order_number_detail mapped_name                customer_name
102353071                 FIDELITY BUSINESS SERVICES UNKNOWN       $               0

sales_level_4
services_indicator                                                                 Y
sales_order_number_detail mapped_name                customer_name
102353071                 FIDELITY BUSINESS SERVICES UNKNOWN       $               0

In [51]:
def map_by_so_no(so_no=None, c_name='Retained', df=df_com_2016):
    df_com_2016.ix[df_com_2016.sales_order_number_detail == so_no, ['mapable','mapped_name', 'gaining_sub_scms', 'remarks','where_to','gaining_sales_level_2'] = ['Yes', c_name]

,id,bookings_adjustments_code,bookings_adjustments_description,bookings_adjustments_type,at_attach,business_unit,customer_name,erp_deal_id,sales_order_number_detail,fiscal_period_id,...,mapable,mapped_name,gaining_sub_scms,remarks,where_to,gaining_sales_level_2,gaining_sales_level_3,gaining_sales_level_4,gaining_sales_level_5,gaining_sales_level_6
0,2271314,DP,15-Oct-15NEW POS,POS,Sales Non-AT,TMGBU,NETWORK BULLS TECHNOLOGIES PVTLTD,NaN,305778368,201603,...,No,NaN,NaN,NaN,NaN,NaN,$ nan,$ nan,$ nan,$ nan
1,2271315,DP,31-Aug-15NEW POS,POS,Sales Non-AT,UABU,CHANNEL SALES,NaN,304613430,201602,...,No,NaN,NaN,NaN,NaN,NaN,$ nan,$ nan,$ nan,$ nan
2,2271319,UNKNOWN,NOT APPLICABLE,NaN,Sales AT,UCIBU,DHAKA WATER SUPPLY AND SEWERAGE AUTHORITY (DWASA),16214952,101251629,201603,...,No,NaN,NaN,NaN,NaN,NaN,$ nan,$ nan,$ nan,$ nan
3,2271323,DP,23-Oct-15NEW POS,POS,Sales Non-AT,UABU,QUINNOX CONSULTANCY SERVICES LTD,NaN,306004484,201603,...,No,NaN,NaN,NaN,NaN,NaN,$ nan,$ nan,$ nan,$ nan
4,2271327,DP,10-Aug-15NEW POS,POS,Sales Non-AT,SRGBU,STATE BANK OF INDIA,NaN,304173885,201601,...,No,NaN,NaN,NaN,NaN,NaN,$ nan,$ nan,$ nan,$ nan
5,2271328,UNKNOWN,NOT APPLICABLE,NaN,Sales AT,UCIBU,HOSPIRA INDIA,16105716,101101180,201603,...,No,NaN,NaN,NaN,NaN,NaN,$ nan,$ nan,$ nan,$ nan