In [2]:
from pandas import Series, DataFrame

In [3]:
import pandas as pd

In [4]:
import numpy as np

In [ ]:
from sqlalchemy import create_engine

In [ ]:
pd.options.display.float_format = '${:16,.0f}'.format

In [ ]:
from IPython.display import display, HTML

In [ ]:
sql_query = 'SELECT * FROM booking_dump WHERE fp_year=2016'

In [ ]:
engine_url = 'mysql://root:Jey03$78@localhost/mysourcedata?charset=utf8'

In [ ]:
engine = create_engine(engine_url, pool_size=100, pool_recycle=3600, echo_pool=True)

In [ ]:
conn = engine.connect()

In [ ]:
df_bd_2016 = pd.read_sql_query(sql_query, engine)

In [19]:
df_bd_2016.rename(columns=string.lower, inplace=True)

In [40]:
pvt_bd_2016 = df_bd_2016.pivot_table(values='booking_net', index=['sub_scms', 'fp_quarter', 'arch2', 'tech_name'], columns=['gtmu','prod_ser'], aggfunc=sum, fill_value=0, margins=True)

In [45]:
pvt_bd_2016_2 = pvt_bd_2016.query('arch2 == ["DCV"]')

In [48]:
writer = pd.ExcelWriter('../reports/trideep_dcv_2016.xlsx', engine='xlsxwriter')

In [49]:
pvt_bd_2016_2.to_excel(writer, sheet_name='report')

In [50]:
writer.save()

In [5]:
data = DataFrame({'k1': ['one'] * 3 + ['two'] * 4,'k2': [1, 1, 2, 3, 3, 4, 4]})

In [6]:
data

    k1  k2
0  one   1
1  one   1
2  one   2
3  two   3
4  two   3
5  two   4
6  two   4

In [9]:
data1 = data.drop_duplicates()

In [8]:
data

    k1  k2
0  one   1
1  one   1
2  one   2
3  two   3
4  two   3
5  two   4
6  two   4

In [14]:
data[data['k1'].isin(data1.k1)]

    k1  k2
0  one   1
1  one   1
2  one   2
3  two   3
4  two   3
5  two   4
6  two   4

In [15]:
data.columns

Index([u'k1', u'k2'], dtype='object')

In [16]:
col = data.columns

In [17]:
col.append(pd.Series(['k3']))

Index([u'k1', u'k2', u'k3'], dtype='object')

In [18]:
col

Index([u'k1', u'k2'], dtype='object')