In [ ]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
from IPython.display import display, HTML
import string
pd.options.display.float_format = '${:16,.0f}'.format

df = pd.read_excel('../misc_analytics/compiled_sl_mm.xlsx')
df = df.fillna(method='pad')
df2 = pd.DataFrame(columns=df.columns)
df.loc[:25]
df3 = pd.concat([df2, df])
total_rows = len(df3.index)
for i in range(0, total_rows, 10):
    j = i + 10
    df_final = df3[i:j]
    writer = pd.ExcelWriter('../misc_analytics/compiled_sl_mm_cleaned'+str(i)+'.xlsx', engine='xlsxwriter')
    df_final.to_excel(writer, sheet_name='master')
    writer.save()

In [4]:
from pandas import Series, DataFrame
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import csv
from IPython.display import display, HTML
import string
import re
pd.options.display.float_format = '${:16,.0f}'.format

skip_rec = 10

engine_url = 'mysql://root:Jey03$78@localhost/mysourcedata?charset=utf8'
engine = create_engine(engine_url, pool_size=100, pool_recycle=3600, echo_pool=True)
conn = engine.connect()

#like_customers = ['dell','first advan','firstadvan','CSC','serco','mphasis','m-phasis','persistent','sutherlan','suther lan']
df_prem = pd.read_excel('../misc_analytics/guj_geo.xlsx')
df_prem = df_prem.fillna(method='pad')
total_recs = len(df_prem.index)
df_master = pd.DataFrame(columns=df_prem.columns)


for i in range(0, total_recs, skip_rec):
    j = i + skip_rec
    print 'Processing ' + str(i) + ' to ' + str(j) + '/' + str(total_recs) + '...'
    df_temp = df_prem[i:j]
    like_customers = df_temp['like_names']
    not_like_customers = ['nirmal', 'acclaris', 'cintas', 'clarisity', 'tokyo', 'tokiy','tokio','LAMBDATEK', 'LINTAS', 'SHASUN','MUDRA ELECTRONICS', 'NEHA ELE','REDIFFCOM']
    first_time = 1
    or_conditions = []
    and_conditions = []
    for name in like_customers:
        if first_time == 1:
            or_conditions.append('customer_name LIKE ' + '"%%' + name + '%%"')
        else:
            or_conditions.append(' OR customer_name LIKE ' + '"%%' + name + '%%"')
        first_time += 1

    first_time = 1
    for name in not_like_customers:
        if first_time == 1:
            and_conditions.append('customer_name NOT LIKE ' + '"%%' + name + '%%"')
        else:
            and_conditions.append(' AND customer_name NOT LIKE ' + '"%%' + name + '%%"')
        first_time += 1

    conditions = []
    conditions.append('SELECT * FROM ent_dump_from_finance WHERE')
    if len(not_like_customers) > 0:
        conditions.append('(')
    conditions.append(''.join(or_conditions))
    if len(not_like_customers) > 0:
        conditions.append(') AND ')
        conditions.append(''.join(and_conditions))
    sql_query = " ".join(conditions)
    #print sql_query
    df = pd.read_sql_query(sql_query, engine)
    df.rename(columns=string.lower, inplace=True)

    #updatable_fields = ['mapped_name', 'file_name', 'sheet_name']
    for index, row in df_temp.iterrows():
        #updatable_data = [row['unique_name'],row['file_name'],row['sheet_name']]
        #df.ix[df.customer_name.str.contains(row['like_names'], case=False).fillna(False), updatable_fields] = updatable_data
        df.ix[df.customer_name.str.contains(row['like_names'], case=False).fillna(False), 'mapped_name'] = row['unique_name']
        df.ix[df.customer_name.str.contains(row['like_names'], case=False).fillna(False), 'file_name'] = row['file_name']
        df.ix[df.customer_name.str.contains(row['like_names'], case=False).fillna(False), 'sheet_name'] = row['sheet_name']

    df['year'] = df['fiscal_quarter_id'].map(lambda x: int(x[:4]))
    df_master = pd.concat([df_master, df])
    print 'Processed ' + str(i) + ' to ' + str(j) + '/' + str(total_recs) + '!'
writer = pd.ExcelWriter('../misc_analytics/bookings_history.xlsx', engine='xlsxwriter')
print 'Dropping Unnecessary Columns...'
df_master.drop(['tms_sales_allocated_bookings_quantity', 'corp_arch', 'coll', 'dc', 'bn', 'ipngn', 'small', 'mobility_net', 'vch_net','others','vertical','tms_sales_allocated_bookings_standard_cost','prod_ser','standard_cost','tms_sales_allocated_bookings_base_list'], inplace=True, axis=1)
print 'Unnecessary Columns dropped!'
print 'Writing in Excel....'
df_master.to_excel(writer, sheet_name='historical')
writer.save()
print 'End of Process!'
display(df.groupby(['mapped_name', 'year'])['booking_net'].sum())

SyntaxError: invalid syntax (<ipython-input-4-ca34ed06ba58>, line 29)

In [3]:
from pandas import Series, DataFrame
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import csv
from IPython.display import display, HTML
import string
import re
pd.options.display.float_format = '${:16,.0f}'.format

skip_rec = 10

engine_url = 'mysql://root:Jey03$78@localhost/mysourcedata?charset=utf8'
engine = create_engine(engine_url, pool_size=100, pool_recycle=3600, echo_pool=True)
conn = engine.connect()

#like_customers = ['dell','first advan','firstadvan','CSC','serco','mphasis','m-phasis','persistent','sutherlan','suther lan']
df_prem = pd.read_excel('../misc_analytics/prem_list_accounts.xlsx')
df_prem = df_prem.fillna(method='pad')
total_recs = len(df_prem.index)
df_master = pd.DataFrame(columns=df_prem.columns)


for i in range(0, total_recs, skip_rec):
    j = i + skip_rec
    print 'Processing ' + str(i) + ' to ' + str(j) + '/' + str(total_recs) + '...'
    df_temp = df_prem[i:j]
    like_customers = df_temp['like_names']
    not_like_customers = ['HCSC']
    first_time = 1
    or_conditions = []
    and_conditions = []
    for name in like_customers:
        if first_time == 1:
            or_conditions.append('customer_name LIKE ' + '"%%' + name + '%%"')
        else:
            or_conditions.append(' OR customer_name LIKE ' + '"%%' + name + '%%"')
        first_time += 1

    first_time = 1
    for name in not_like_customers:
        if first_time == 1:
            and_conditions.append('customer_name NOT LIKE ' + '"%%' + name + '%%"')
        else:
            and_conditions.append(' OR customer_name NOT LIKE ' + '"%%' + name + '%%"')
        first_time += 1

    conditions = []
    conditions.append('SELECT * FROM ent_dump_from_finance WHERE')
    if len(not_like_customers) > 0:
        conditions.append('(')
    conditions.append(''.join(or_conditions))
    if len(not_like_customers) > 0:
        conditions.append(') AND ')
        conditions.append(''.join(and_conditions))
    sql_query = " ".join(conditions)
    print sql_query
    df = pd.read_sql_query(sql_query, engine)
    df.rename(columns=string.lower, inplace=True)

    #updatable_fields = ['mapped_name', 'file_name', 'sheet_name']
    for index, row in df_temp.iterrows():
        #updatable_data = [row['unique_name'],row['file_name'],row['sheet_name']]
        #df.ix[df.customer_name.str.contains(row['like_names'], case=False).fillna(False), updatable_fields] = updatable_data
        df.ix[df.customer_name.str.contains(row['like_names'], case=False).fillna(False), 'mapped_name'] = row['unique_name']
        df.ix[df.customer_name.str.contains(row['like_names'], case=False).fillna(False), 'file_name'] = row['file_name']
        df.ix[df.customer_name.str.contains(row['like_names'], case=False).fillna(False), 'sheet_name'] = row['sheet_name']

    df['year'] = df['fiscal_quarter_id'].map(lambda x: int(x[:4]))
    df_master = pd.concat([df_master, df])
    print 'Processed ' + str(i) + ' to ' + str(j) + '/' + str(total_recs) + '!'
writer = pd.ExcelWriter('../misc_analytics/bookings_history_prem.xlsx', engine='xlsxwriter')
print 'Dropping Unnecessary Columns...'
df_master.drop(['tms_sales_allocated_bookings_quantity', 'corp_arch', 'coll', 'dc', 'bn', 'ipngn', 'small', 'mobility_net', 'vch_net','others','vertical','tms_sales_allocated_bookings_standard_cost','prod_ser','standard_cost','tms_sales_allocated_bookings_base_list'], inplace=True, axis=1)
print 'Unnecessary Columns dropped!'
print 'Writing in Excel....'
df_master.to_excel(writer, sheet_name='historical')
writer.save()
print 'End of Process!'
display(df.groupby(['mapped_name', 'year'])['booking_net'].sum())

Processing 0 to 10/10...
SELECT * FROM ent_dump_from_finance WHERE ( customer_name LIKE "%%first advan%%" OR customer_name LIKE "%%firstadvan%%" OR customer_name LIKE "%%CSC%%" OR customer_name LIKE "%%serco%%" OR customer_name LIKE "%%mphasis%%" OR customer_name LIKE "%%m-phasis%%" OR customer_name LIKE "%%m - phasis%%" OR customer_name LIKE "%%persistent%%" OR customer_name LIKE "%%sutherlan%%" OR customer_name LIKE "%%suther lan%%" ) AND  customer_name NOT LIKE "%%HCSC%%"
Processed 0 to 10/10!
Dropping Unnecessary Columns...
Unnecessary Columns dropped!
Writing in Excel....
End of Process!

mapped_name      year
CSC              2013   $         431,167
                 2014   $        -154,751
                 2015   $       1,529,095
                 2016   $         463,793
First advantage  2013   $         499,822
                 2014   $         973,529
                 2015   $         268,351
                 2016   $          22,796
Mphasis          2013   $         864,302
                 2014   $       1,076,418
                 2015   $         381,127
                 2016   $         787,713
Persistant       2013   $         450,238
                 2014   $       1,253,612
                 2015   $       1,747,296
                 2016   $       1,418,017
Serco            2013   $         432,697
                 2014   $         483,762
                 2015   $         998,278
                 2016   $       1,240,799
sutherland       2013   $         794,960
                 2014   $       1,486,157
                 2015   $       1,179,563
                 2016   $       1,252,661
Name: booking_net, dtype: float64