In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import csv
from IPython.display import display, HTML
from matplotlib import pyplot as plt
%pylab inline
import string
import re
pd.options.display.float_format = '${:10,.0f}'.format

Populating the interactive namespace from numpy and matplotlib

In [28]:
engine_url = 'mysql://root:Jey03$78@localhost/mysourcedata?charset=utf8'
engine = create_engine(engine_url, pool_size=100, pool_recycle=3600, echo_pool=True)
conn = engine.connect()
#query = 'SELECT * FROM ent_dump_from_finance WHERE LEFT(fiscal_quarter_id, 4)=2016 and sales_level_3="INDIA_COMM_1"'
query = 'SELECT * FROM ent_dump_from_finance WHERE LEFT(fiscal_quarter_id, 4)=2016'
df = pd.read_sql(query, con=conn)
conn.close()
engine_url = None
engine = None

In [29]:
df.rename(columns=string.lower, inplace=True)
#cols_not_needed = ['tms_sales_allocated_bookings_standard_cost','standard_cost','prod_ser','corp_arch', 'coll', 'dc', 'bn', 'ipngn', 'small', 'mobility_net', 'vch_net','others','vertical','tms_sales_allocated_bookings_base_list']
cols_not_needed = ['standard_cost','prod_ser','corp_arch', 'coll', 'dc', 'bn', 'ipngn', 'small', 'mobility_net', 'vch_net','others','vertical']
df.drop(cols_not_needed, axis=1, inplace=True)
df.rename(columns={'tms_sales_allocated_bookings_standard_cost': 'standard_cost', 'tms_sales_allocated_bookings_quantity': 'bookings_qty', 'tms_sales_allocated_bookings_base_list': 'base_list'}, inplace=True)
#df.drop('standard_cost', axis=1, inplace=True)
df.columns

Index([                               u'id',
               u'bookings_adjustments_code',
        u'bookings_adjustments_description',
               u'bookings_adjustments_type',
                               u'at_attach',
                           u'business_unit',
                           u'customer_name',
                             u'erp_deal_id',
               u'sales_order_number_detail',
                        u'fiscal_period_id',
                       u'fiscal_quarter_id',
                          u'fiscal_week_id',
                            u'partner_name',
                          u'product_family',
                              u'product_id',
                                     u'tbm',
                           u'sales_level_2',
                           u'sales_level_3',
                           u'sales_level_4',
                           u'sales_level_5',
                           u'sales_level_6',
                                    u'scms',
                                u'sub_scms',
             u'tms_level_1_sales_allocated',
             u'tms_level_2_sales_allocated',
             u'tms_level_3_sales_allocated',
             u'tms_level_4_sales_allocated',
                        u'technology_group',
                       u'partner_tier_code',
                   u'partner_certification',
                            u'partner_type',
                       u'bill_to_site_city',
                            u'ship_to_city',
                                u'cbn_flag',
                             u'booking_net',
                               u'base_list',
                            u'bookings_qty',
           u'internal_business_entity_name',
       u'internal_sub_business_entity_name',
                           u'standard_cost',
                      u'services_indicator'],
      dtype='object')

In [10]:
df_tech_mapping = pd.read_excel('../tech_mapping.xlsx')

In [15]:
df_tech_mapping.rename(columns=string.lower, inplace=True)
df_tech_mapping.rename(columns={'technology': 'tech_name', 'architecture_l1': 'arch1', 'architecture_l1_sub_group': 'arch2'}, inplace=True)
df_tech_mapping.columns

Index([u'internal_sub_business_entity_name', u'tech_name', u'arch1', u'arch2'], dtype='object')

In [30]:
len(df.index)

716425

In [31]:
#df.drop(['tech_name_x', 'arch1_x', 'arch2_x','tech_name_y', 'arch1_y', 'arch2_y'], axis=1, inplace=True)
df = df.merge(df_tech_mapping, on='internal_sub_business_entity_name', how='left')
len(df.index)

716425

In [37]:
#df[pd.isnull(df.arch1)]
#df.columns
#writer = pd.ExcelWriter('../FY16_Com_Booking_Dump_Q4M2YTD.xlsx', engine='xlsxwriter')
#df.to_excel(writer, sheet_name='dump')
#writer.save()
#df['booking_net'].sum()
#df.pivot_table(values='booking_net', index=['sales_level_3'], columns=['services_indicator'], aggfunc=sum, margins=True)
df[df.sales_level_3 == 'INDIA_COMM_1'].pivot_table(values='booking_net', index=['arch2'], columns=['services_indicator'], aggfunc=sum, margins=True)
#df.to_csv('../FY16_Booking_Dump_Q4M2YTD.csv', sep=',', encoding='utf8')